---
import ExperienceCard from "@/components/ExperienceCard.astro";
import Title from "@/components/Title.astro";
---

<section>
  <Title><span>+4 años de</span> <br />experiencia</Title>
  <div>
    <ExperienceCard
      title="Alowee | Desarrollador Full-Stack"
      description="Realicé el desarrollo de varios proyectos para diferentes clientes de la empresa. También realicé trabajos de fotografía, edición de fotografías con Lightroom Classic e informática."
      date="2021 - Actualidad"
      url="https://alowee.com/"
    />
    <ExperienceCard
      title="Freelancer"
      description="Desarrollo de soluciones web y para clientes independientes."
      date="Siempre disponible"
      url="www.linkedin.com/in/dev-alex-rizo"
    />
  </div>
</section>
