---
import ExperienceCard from "@/components/ExperienceCard.astro";
import Title from "@/components/Title.astro";
---

<section>
  <Title class="mb-10"><span>+4 años de</span> <br />experiencia</Title>
  <div>
    <ExperienceCard
      title="Desarrollador Full-Stack"
      description="Realicé el desarrollo de varios proyectos para diferentes clientes de la empresa. También realicé trabajos de fotografía, edición de fotografías con Lightroom Classic, informática y levantamiento y mantenimiento de un servidor True NAS."
      date="2021 - Actualidad"
      url="https://alowee.com/"
    />
    <ExperienceCard
      title="Freelancer"
      description="Desarrollo de soluciones web y aplicaciones móviles para clientes independientes."
      date="2023 - Actualidad"
      url="www.linkedin.com/in/dev-alex-rizo"
    />
  </div>
</section>
