---
import Skills from "@/components/Skills.astro";
import ExperienceProp from "@/components/ExperienceProp.astro";
import { CodeXml, Server } from "@lucide/astro";
---

<section class="flex flex-col">
  <article>
    <h1 class="text-neutral-700 font-bold text-8xl uppercase">
      <span class="text-white">Full-Stack</span><br /> Developer
    </h1>
    <p class="text-neutral-400 text-lg max-w-[480px] my-4">
      Cuento con una sólida experiencia en el ecosistema JavaScript/TypeScript,
      especializado en el desarrollo de soluciones escalables con React y
      NestJS.
    </p>
  </article>
  <aside class="flex flex-row gap-10 mt-10">
    <ExperienceProp years={4} description="Años de experiencia" />
    <ExperienceProp years={10} description="Proyectos completados" />
    <ExperienceProp years={10} description="Clientes satisfechos" />
  </aside>
  <div class="flex flex-row gap-5 mt-16">
    <Skills
      icon={CodeXml}
      description="Desarrollador Frontend en React"
      href="#"
      color="blue"
      decorators={["react", "tanstack"]}
    />
    <Skills
      icon={Server}
      description="Desarrollador Backend en NodeJS"
      href="#"
      color="green"
      decorators={["nodedotjs", "nestjs"]}
      size="large"
    />
  </div>
</section>
