---
import ProyectCard from "@/components/ProyectCard.astro";
import Title from "@/components/Title.astro";
---

<section>
  <Title class="mb-10"><span>Proyectos</span> <br />recientes</Title>
  <div role="grid" class="grid grid-cols-1 mt-5">
    <ProyectCard
      title="Not Alias_"
      description="Sitio web para una agencia de marketing digital."
      image="/imagenes/proyectos/notalias_.webp"
      url="https://notalias.com"
    />
    <ProyectCard
      title="Ezlabon.mx"
      description="Sitio web para una empresa especialista en transporte de carga en federal y servicios de logística."
      image="/imagenes/proyectos/ezlabon.webp"
      url="https://ezlabon.mx"
    />
    <ProyectCard
      title="Grupo Echegari"
      description="Sitio web para una empresa inmobiliaria."
      image="/imagenes/proyectos/grupo-echegari.webp"
      url="https://grupo-echegari.mx"
    />
    <ProyectCard
      title="Printa"
      description="Sitio web para una empresa de imprenta y papelería."
      image="/imagenes/proyectos/printa.webp"
      url="https://printafast.com"
    />
    <ProyectCard
      title="Inspiralab"
      description="Sitio web para una empresa de cosméticos."
      image="/imagenes/proyectos/inspiralab.webp"
      url="https://inspiralab.com"
    />
    <ProyectCard
      title="Meteoro"
      description="Sitio web para un venture studio."
      image="/imagenes/proyectos/meteoro.webp"
      url="https://meteoroventures.com"
    />
  </div>
</section>
