---
import ProyectCard from "@/components/ProyectCard.astro";
import Title from "@/components/Title.astro";
---

<section>
  <Title class="mb-10"><span>Proyectos</span> <br />recientes</Title>
  <ProyectCard
    title="Ezlabon.mx"
    description="Sitio web estático para una empresa especialista en transporte de carga en federal y servicios de logística."
    image="/imagenes/proyectos/ezlabon.webp"
    url="https://ezlabon.mx"
  />
</section>
