---
import Title from "@/components/Title.astro";
import Tech from "@/components/Tech.astro";
import { Icon } from "astro-icon/components";
---

<section id="tecnologias">
  <Title><span>Tecnologías</span> <br />Modernas</Title>
  <div class="grid grid-cols-2 gap-2 mt-5">
    <Tech title="TypeScript" description="Lenguaje de programación">
      <Icon name="typescript" size={36} class="text-blue-500" />
    </Tech>
    <Tech title="NodeJS" description="Tecnología backend">
      <Icon name="nodedotjs" size={36} class="text-green-500" />
    </Tech>
    <Tech title="ReactJS" description="Framework frontend">
      <Icon name="react" size={36} class="text-cyan-500" />
    </Tech>
    <Tech title="Tanstack" description="Librería de React">
      <Icon name="tanstack" size={36} class="text-black" />
    </Tech>
    <Tech title="Tailwind" description="Framework CSS">
      <Icon name="tailwindcss" size={36} class="text-cyan-500" />
    </Tech>
    <Tech title="Astro" description="Framework frontend">
      <Icon name="astro" size={36} class="text-orange-500" />
    </Tech>
    <Tech title="NestJS" description="Framework backend">
      <Icon name="nestjs" size={36} class="text-red-500" />
    </Tech>
    <Tech title="Express" description="Framework backend">
      <Icon name="express" size={36} class="text-black" />
    </Tech>
    <Tech title="Prisma" description="ORM">
      <Icon name="prisma" size={36} class="text-black" />
    </Tech>
    <Tech title="PostgreSQL" description="Base de datos">
      <Icon name="postgresql" size={36} class="text-blue-500" />
    </Tech>
    <Tech title="MongoDB" description="Base de datos">
      <Icon name="mongodb" size={36} class="text-green-600" />
    </Tech>
    <Tech title="MySQL" description="Base de datos">
      <Icon name="mysql" size={36} class="text-orange-600" />
    </Tech>
    <Tech title="Docker" description="DevOps">
      <Icon name="docker" size={36} class="text-blue-500" />
    </Tech>
    <Tech title="GitHub" description="Control de versiones">
      <Icon name="github" size={36} class="text-black" />
    </Tech>
  </div>
</section>
