---
import Title from "@/components/Title.astro";
import Tech from "@/components/Tech.astro";
import { Icon } from "astro-icon/components";
---

<section>
  <Title class="mb-10"><span>Tecnologías</span> <br />Modernas</Title>
  <div class="grid grid-cols-2 gap-5 mt-5">
    <Tech title="TypeScript" description="Lenguaje de programación">
      <Icon name="typescript" size={40} class="text-blue-500" />
    </Tech>
    <Tech title="NodeJS" description="Tecnología backend">
      <Icon name="nodedotjs" size={40} class="text-green-500" />
    </Tech>
    <Tech title="ReactJS" description="Framework de frontend">
      <Icon name="react" size={40} class="text-cyan-500" />
    </Tech>
    <Tech title="Tanstack" description="Librería de React">
      <Icon name="tanstack" size={40} class="text-cyan-500" />
    </Tech>
    <Tech title="NestJS" description="Framework de backend">
      <Icon name="nestjs" size={40} class="text-red-500" />
    </Tech>
  </div>
</section>
