---
import Title from "@/components/Title.astro";
import Layout from "@/layout/Layout.astro";
---

<Layout>
  <section>
    <Title>
      <span>Gracias por</span><br />
      Contactarme
    </Title>
  </section>
</Layout>
