---

---

<footer class="mt-20 p-20">
  <p class="text-center">
    Hecho por <span class="text-orange-500">Alex Rizo</span> | Realizado con
    <span class="text-orange-500">Astro</span>
  </p>
</footer>
