---
import { House, Folder, Briefcase, Wrench, Mail } from "@lucide/astro";
---

<header class="w-full flex justify-center pt-7 pb-6 mb-10">
  <nav class="bg-white/3 rounded-2xl px-6 py-3.5 flex gap-8 text-white">
    <House size={22} />
    <Folder size={22} />
    <Briefcase size={22} />
    <Wrench size={22} />
    <Mail size={22} />
  </nav>
</header>
