---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<div
  role="contentinfo"
  class="flex items-center gap-2 hover:bg-white/3 transition-colors duration-300 rounded-xl p-4 cursor-pointer"
>
  <div class="size-15 flex items-center justify-center bg-white rounded-xl">
    <slot />
  </div>
  <div role="definition">
    <h1 class="text-white text-2xl font-semibold">{title}</h1>
    <p>{description}</p>
  </div>
</div>
