---
import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import ProfileCard from "@/components/ProfileCard.astro";
import "@/styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta name="title" content="Mi Portafolio" />
    <meta
      name="description"
      content="Mi nombre es David Alejandro Ayala Rizo, un desarrollador Full-Stack enfocado en soluciones innovadoras y escalables utilizando el ecosistema de TypeScript."
    />
    <meta
      name="keywords"
      content="Alex Rizo, Portafolio, Desarrollador, Full-Stack, TypeScript, JavaScript, React, Node.js, Express, MongoDB, PostgreSQL, Git, GitHub, HTML, CSS, Tailwind CSS, Bootstrap, Figma, Adobe XD, Sketch, Jira, Trello, Asana, Slack, Microsoft Teams, Zoom, Google Meet, Web, Mobile, Desktop, Responsive, Adaptive, Progressive, Single Page Application, Multi Page Application, Server Side Rendering, Client Side Rendering, Static Site Generation, Jamstack, PWA, SPA, MPA, SSR, CSR, SSG, Jamstack, PWA"
    />
    <meta name="author" content="Alex Rizo" />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <ClientRouter />
    <title>Alex Rizo Dev</title>
  </head>
  <body transition:name="slide">
    <Header />
    <main
      class="container mx-auto relative flex flex-row justify-center gap-20"
    >
      <ProfileCard />
      <div role="main" class="min-w-[681px] w-max space-y-30">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
