---
import Header from "@/components/Header.astro";
import ProfileCard from "@/components/ProfileCard.astro";
import "@/styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Alex Rizo Dev</title>
  </head>
  <body>
    <Header />
    <main
      class="container mx-auto relative flex flex-row justify-center gap-20"
    >
      <ProfileCard />
      <div role="main" class="w-max space-y-32">
        <slot />
      </div>
    </main>
  </body>
</html>
